:root,
[theme] {
	--dock-fill: var(--workspace-fill);
	--dock-line: var(--workspace-line);
	--dock-fill-offset-10: color-mix(
		in oklab,
		var(--dock-fill),
		var(--dock-line) 10%
	);
	--dock-fill-offset-20: color-mix(
		in oklab,
		var(--dock-fill),
		var(--dock-line) 20%
	);
	--dock-fill-offset-30: color-mix(
		in oklab,
		var(--dock-fill),
		var(--dock-line) 30%
	);
	--dock-fill-offset-40: color-mix(
		in oklab,
		var(--dock-fill),
		var(--dock-line) 40%
	);
	--dock-fill-offset-50: color-mix(
		in oklab,
		var(--dock-fill),
		var(--dock-line) 50%
	);
	--dock-line-offset-10: color-mix(
		in oklab,
		var(--dock-line),
		var(--dock-fill) 10%
	);
	--dock-line-offset-20: color-mix(
		in oklab,
		var(--dock-line),
		var(--dock-fill) 20%
	);
	--dock-line-offset-30: color-mix(
		in oklab,
		var(--dock-line),
		var(--dock-fill) 30%
	);
	--dock-line-offset-40: color-mix(
		in oklab,
		var(--dock-line),
		var(--dock-fill) 40%
	);
	--dock-line-offset-50: color-mix(
		in oklab,
		var(--dock-line),
		var(--dock-fill) 50%
	);
	--dock-floating-shadow-color: color-mix(
		in oklab,
		var(--dock-line),
		transparent 90%
	);
	--dock-floating-border-line: var(--dock-line);
	--dock-floating-shadow: 8px 8px 8px 2px var(--dock-floating-shadow-color);
}

.dockview-theme-littlebook {
	--dv-background-color: var(--dock-fill);
	--dv-separator-border: var(--dock-line);
	--dv-paneview-active-outline-color: var(--workspace-primary);
	--dv-drag-over-background-color: color-mix(
		in oklab,
		var(--workspace-primary),
		transparent 50%
	);
	--dv-tabs-and-actions-container-font-size: 12px;
	--dv-overlay-z-index: 1024;
	--dv-border-radius: 0px;
	--dv-tab-margin: 0;
	--dv-sash-color: transparent;
	--dv-tab-font-size: inherit;
	--dv-active-sash-color: var(--workspace-primary);
	--dv-active-sash-transition-duration: 0.1s;
	--dv-active-sash-transition-delay: 0.5s;
	--dv-tabs-and-actions-container-height: 2em;

	--dv-drag-over-border-color: transparent;
	--dv-tabs-container-scrollbar-color: color-mix(
		in oklch,
		var(--dock-fill-offset-10),
		transparent 50%
	);
	--dv-icon-hover-background-color: color-mix(
		in oklch,
		var(--dock-fill-offset-10),
		transparent 50%
	);
	--dv-floating-box-shadow: var(--dock-floating-shadow);

	--dv-group-view-background-color: var(--workspace-fill);
	--dv-tabs-and-actions-container-background-color: color-mix(
		in oklch,
		var(--dock-fill-offset-10),
		transparent 50%
	);
	--dv-activegroup-visiblepanel-tab-background-color: var(--dock-fill);
	--dv-activegroup-hiddenpanel-tab-background-color: var(--dock-fill-offset-10);
	--dv-inactivegroup-visiblepanel-tab-background-color: var(--dock-fill);
	--dv-inactivegroup-hiddenpanel-tab-background-color: var(
		--dock-fill-offset-10
	);
	--dv-tab-divider-color: var(--dock-fill);
	--dv-activegroup-visiblepanel-tab-color: var(--dock-line);
	--dv-activegroup-hiddenpanel-tab-color: var(--dock-fill-offset-50);
	--dv-inactivegroup-visiblepanel-tab-color: var(--dock-fill-offset-40);
	--dv-inactivegroup-hiddenpanel-tab-color: var(--dock-fill-offset-30);
	--dv-separator-border: var(--dock-line-offset-10);
	--dv-paneview-header-border-color: var(--dock-line);
	--dv-scrollbar-background-color: var(--dock-fill);

	.dv-resize-container {
		border: 1px solid var(--dock-floating-border-line);
	}

	.dv-tabs-and-actions-container,
	.dv-tab {
		user-select: none;
		* {
			user-select: none;
		}
		::selection {
			background: transparent;
		}
	}
	.dv-tab-icon {
		width: 1.5em;
		height: 1.5em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

littlebook-dock-panel {
	display: contents;
	width: 100%;
	height: 100%;
	> * {
		height: 100%;
		width: 100%;
	}
}

d-o-c-k {
	height: 100%;
	width: 100%;
}

.dv-content-container {
	height: 100%;
	width: 100%;
	> * {
		height: 100%;
		width: 100%;
	}
}
